<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @preferencium.tipo %>
</p>

<p>
  <b>Porte:</b>
  <%= @preferencium.porte %>
</p>

<p>
  <b>Peso:</b>
  <%= @preferencium.peso %>
</p>

<p>
  <b>Cor:</b>
  <%= @preferencium.cor %>
</p>

<p>
  <b>Estado:</b>
  <%= @preferencium.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%= @preferencium.cidade %>
</p>

<p>
  <b>Tipo doador:</b>
  <%= @preferencium.tipo_doador %>
</p>

<p>
  <b>Prioridade adocao:</b>
  <%= @preferencium.prioridade_adocao %>
</p>

<p>
  <b>Foto:</b>
  <%= @preferencium.foto %>
</p>


<%= link_to 'Edit', edit_preferencium_path(@preferencium) %> |
<%= link_to 'Back', preferencia_path %>
