<h1>Listing doador_animais</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Status doador</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doador_animais.each do |doador_animal| %>
  <tr>
    <td><%= doador_animal.usuario_id %></td>
    <td><%= doador_animal.status_doador_id %></td>
    <td><%= link_to 'Show', doador_animal %></td>
    <td><%= link_to 'Edit', edit_doador_animal_path(doador_animal) %></td>
    <td><%= link_to 'Destroy', doador_animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doador animal', new_doador_animal_path %>
