<h1>Listing feira_adocoes</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Endereco feira adocao</th>
    <th>Inicio feira</th>
    <th>Fim feira</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feira_adocoes.each do |feira_adocao| %>
  <tr>
    <td><%= feira_adocao.usuario_id %></td>
    <td><%= feira_adocao.nome %></td>
    <td><%= feira_adocao.descricao %></td>
    <td><%= feira_adocao.endereco_feira_adocao.first.rua %>,
			<%= feira_adocao.endereco_feira_adocao.first.numero %>,
			<%= feira_adocao.endereco_feira_adocao.first.cep %>,
			<%= feira_adocao.endereco_feira_adocao.first.estado.sigla %> -
			<%= feira_adocao.endereco_feira_adocao.first.cidade.cidade %></td>
    <td><%= feira_adocao.inicio_feira %></td>
    <td><%= feira_adocao.fim_feira %></td>
    <td><%= link_to 'Show', feira_adocao %></td>
    <td><%= link_to 'Edit', edit_feira_adocao_path(feira_adocao) %></td>
    <td><%= link_to 'Destroy', feira_adocao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feira adocao', new_feira_adocao_path %>
