<p id="notice"><%= notice %></p>

<p>
  <b>Raca:</b>
  <%= @raca.raca %>
</p>

<p>
  <b>Tipo Animal:</b>
  <%= @raca.tipo_animal.tipo_animal  %>
</p>


<%= link_to 'Edit', edit_raca_path(@raca) %> |
<%= link_to 'Back', racas_path %>
