<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @adocao_confirmacao_chafe.key %>
</p>

<p>
  <b>Dias validade:</b>
  <%= @adocao_confirmacao_chafe.dias_validade %>
</p>

<p>
  <b>Data criacao:</b>
  <%= @adocao_confirmacao_chafe.data_criacao %>
</p>

<p>
  <b>Chave valida:</b>
  <%= @adocao_confirmacao_chafe.chave_valida %>
</p>


<%= link_to 'Edit', edit_adocao_confirmacao_chafe_path(@adocao_confirmacao_chafe) %> |
<%= link_to 'Back', adocao_confirmacao_chaves_path %>
