<%= form_for(@tipo_perfil) do |f| %>
  <% if @tipo_perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_perfil.errors.count, "error") %> prohibited this tipo_perfil from being saved:</h2>

      <ul>
      <% @tipo_perfil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_perfil %><br />
    <%= f.text_field :tipo_perfil %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
