<h1>Minhas doações</h1>

<table>
  <tr>
    <th>Codigo adoção</th>
    <th>Doador</th>
    <th>Nome animal</th>
    <th>Tipo animal</th>
    <th>Raça</th>
    <th></th>
    <th></th>
  </tr>

<% @minhas_doacoes.each do |minhas_doacoes| %>
  <tr>
    <td><%= minhas_doacoes.id %></td>
    <td><%= minhas_doacoes.doador_animal.perfil.nome %></td>
    <td><%= minhas_doacoes.nome %></td>
    <td><%= minhas_doacoes.tipo_animal.tipo_animal %></td>
		<td><%= minhas_doacoes.tipo_animal.raca.raca %></td>
    <td><%= link_to 'Show', minhas_doacoes %></td>
  </tr>
<% end %>
</table>