<%= form_for(@endereco_oferta_voluntariado) do |f| %>
  <% if @endereco_oferta_voluntariado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endereco_oferta_voluntariado.errors.count, "error") %> prohibited this endereco_oferta_voluntariado from being saved:</h2>

      <ul>
      <% @endereco_oferta_voluntariado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rua %><br />
    <%= f.text_field :rua %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :estado_id %><br />
    <%= f.number_field :estado_id %>
  </div>
  <div class="field">
    <%= f.label :cidade_id %><br />
    <%= f.number_field :cidade_id %>
  </div>
  <div class="field">
    <%= f.label :oferta_voluntariado_id %><br />
    <%= f.number_field :oferta_voluntariado_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
