<h1>Listing endereco_oferta_voluntariado</h1>

<table>
  <tr>
    <th>Rua</th>
    <th>Numero</th>
    <th>Cep</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Oferta voluntariado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @endereco_oferta_voluntariado.each do |endereco_oferta_voluntariado| %>
  <tr>
    <td><%= endereco_oferta_voluntariado.rua %></td>
    <td><%= endereco_oferta_voluntariado.numero %></td>
    <td><%= endereco_oferta_voluntariado.cep %></td>
    <td><%= endereco_oferta_voluntariado.estado_id %></td>
    <td><%= endereco_oferta_voluntariado.cidade_id %></td>
    <td><%= endereco_oferta_voluntariado.oferta_voluntariado_id %></td>
    <td><%= link_to 'Show', endereco_oferta_voluntariado %></td>
    <td><%= link_to 'Edit', edit_endereco_oferta_voluntariado_path(endereco_oferta_voluntariado) %></td>
    <td><%= link_to 'Destroy', endereco_oferta_voluntariado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Endereco oferta voluntariado', new_endereco_oferta_voluntariado_path %>
