<%= form_for(@perfil) do |f| %>
  <% if @perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perfil.errors.count, "error") %> prohibited this perfil from being saved:</h2>

      <ul>
      <% @perfil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :endereco_perfil_id %><br />
    <%= f.text_field :endereco_perfil_id %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br />
    <%= f.datetime_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
	
	
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
